body {
    font-family: 'comic sans ms';
    margin: 0;
    padding: 0;
    background-color: cornsilk;
}

header{
    text-align: center;
    font-size: 30px;
    font-family: Courier New;
    color: forestgreen;
    margin-left: 200px;
}

.profile{
    margin-top: 5px;
    margin-left: 20px;
    padding-bottom: 0px;
}

.profile .nama{
    font-size: 17px;
    margin-left: 20px;
    padding: 0;
    font-weight: 800;
    -moz-text-align-last: left;
    text-align-last: left;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #FFEBCD;
    height: 100%;
    padding-top: 20px;
}

nav ul {
    margin-top: 50px;
    margin-left: 10px;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 10px 0px 20px 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    color: forestgreen;
    background-color: rgb(238, 232, 210);
}

.section1 {
    display: flex;
    background-color: BlanchedAlmond; 
    padding: 5px 0px 0px 30px;
    margin: 100px;
    border-radius: 20px;
    margin-left: 350px;
}

.section1 h2{
    font-family: 'comic sans ms';
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
    color: darkgreen;
    width: 100%;
    line-height: 50px;
}

.kolom{
    margin-left: 30px;
    margin-top: 30px;
}
.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: Courier New;
    color: green;
    margin-top: 30px;
}

.kolom .deskripsi p{
    font-size: 20px;
    font-family: Courier New;
    font-weight: 800;
}

button{
    background-color: forestgreen; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #45a049;
}

.section2{ 
    padding: 5px 0px 0px 30px;
    margin: 50px;
    border-radius: 20px;
    margin-left: 250px;
}
  
.section-title {
    padding-bottom: 10px;
}
  
.section-title h2 {
    font-size: 32px;
    position: relative;
    color: forestgreen;
}
  
.section-title p {
    margin: 0;
    text-align: justify;
    font-family: 'comic sans ms';
    font-size: 17px;
    font-weight: 10px; 
}

.column-list {
    columns: 2; 
    list-style-type: disc;
    font-size: 17px;
    margin: 0;
    margin-top: 25px;
}
  
.column-list li {
    margin-bottom: 20px; 
}

.riwayat {
    font-size: 17px;
    margin: 0;
    margin-top: 25px;
}

.riwayat li {
    margin-top: 10px;
    margin-bottom: 20px; 
}

.pengalaman {
    font-size: 17px;
    margin: 0;
    margin-top: 25px;
}

.pengalaman li {
    margin-top: 10px;
    margin-bottom: 20px; 
}

.section3{
    padding: 5px 0px 0px 30px;
    border-radius: 20px;
    margin-left: 250px;
    margin-right: 50px;
}

.section3 .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
    margin: 0;
  }
  
.section3 .progress .skill {
    padding: 0;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: black;
    margin-top: 10px;
}
  
.section3 .progress .skill .val {
    float: right;
    font-style: normal;
}
  
.section3 .progress-bar-wrap {
    background: blanchedalmond;
    height: 20px;
    margin-right: 50px;
    border-radius: 10px;
}
  
.section3 .progress-bar-figma {
    width: 85%;
    height: 20px;
    background-color: forestgreen;
    border-radius: 10px;
}

.section3 .progress-bar-word {
    width: 80%;
    height: 20px;
    background-color: forestgreen;
    border-radius: 10px;
}

.section3 .progress-bar-excell {
    width: 80%;
    height: 20px;
    background-color: forestgreen;
    border-radius: 10px;
}

.section3 .progress-bar-ppt {
    width: 100%;
    height: 20px;
    background-color: forestgreen;
    border-radius: 10px;
}

.section4{
    padding: 5px 0px 0px 30px;
    border-radius: 20px;
    margin-left: 250px;
    margin-right: 50px;
    margin-top: 100px;
}

.gambar-wrapper {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0;
  }
  
.gambar-wrapper img {
    width: 100%; 
    height: auto; 
    margin-right: 10px;
}

#footer {
  padding: 15px;
  color: black;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 220px;
  background-color: Gainsboro;
  font-weight: bold;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: black;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}
