body {
  background-image: url(../img/bg6.jpg);
}

h3 {
  text-shadow: 5px 5px rgba(128, 128, 128, 0.548);
  font-size: 50px;
  text-align: center;
  font-family: italic;
  margin: 10px;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.karakter1, .karakter2, .karakter3{
  border: 2px solid #fff;
  border-radius: 8px;
  background: transparent;
  margin: 20px 22px 5px 22px;

  padding-bottom: 40px;
  text-align: center;
  box-shadow: 0 0 10px #fff, 0 0 20px #8696FE;
}

.karakter1 p, .karakter2 p, .karakter3 p{
  color: black;
  font-weight: 400;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.isi-karakter1, .isi-karakter2, .isi-karakter3{
  margin: 5px 0px 5px 0px;
}

.isi-karakter1 img,.isi-karakter2 img,
.isi-karakter3 img {
  width: 350px; /* Sesuaikan dengan ukuran yang diinginkan */
  height: 350px; /* Sesuaikan dengan ukuran yang diinginkan */
}

.button {
  display: flex;
  color: white;
  background-color: chocolate;
  border-radius: 17px;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-top: 10px;
  width: 150px;
  height: 40px;
  font-size: 18px;
  box-shadow: 2px 2px 4px rgba(139, 7, 115, 0.6), -2px -2px 4px rgba(41, 128, 185, 1);
}

.button a {
  color: white;
}